# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Typescript cache
*.tsbuildinfo